{% extends "base.html" %}

<h1>home</h1>

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Lorearte</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis delectus eveniet, voluptatibus quia voluptatem libero autem, repellat mollitia eum non, odit in! Repudiandae, non voluptatibus similique nihil odio sunt id temporibus cum itaque illo assumenda sequi maxime omnis nemo alias velit et voluptates architecto, nisi perferendis modi! Asperiores nesciunt dolorum quo, vel dolor, quisquam quaerat impedit eveniet ad quis odit esse libero. Natus, praesentium voluptatibus laborum tempore, necessitatibus quae fugiat deserunt enim excepturi atque, doloremque voluptates corporis optio dolorem! Maiores facilis itaque perspiciatis error porro tempore iste ipsum similique dolor minima, accusantium fugiat exercitationem aperiam. Doloribus natus ad officia necessitatibus!</p>

        <div class="text-center">
            <a   class="btn btn-secondary" href="/signin/">
                Sign In
            </a>
            <a   class="btn btn-dark" href="/signup/">
                Sign Up
            </a>
        </div>

    </section>
</main>

{% endblock %}